.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'header header header header'
    'sidebar content content content';
  height: 100vh;
}

.header {
  grid-area: header;
  padding: 24px;
  background: #012db2;
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  width: 48px;
  height: 48px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.heading {
  margin: 0 0 0 32px;
  font-size: 48px;
  font-weight: 100;
}

.sidebar {
  grid-area: sidebar;
  background: #fff;
  box-shadow: 0px 0px 20px -5px #ccc;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.sidebar-item {
  display: flex;
  padding: 16px;
  font-size: 16px;
  font-weight: 300;
  align-items: center;
  flex: 0 0 auto;
}

.sidebar-item:hover {
  background: #fcfcfc;
}

.sidebar-item__count {
  margin-right: 16px;
  border: 1px solid #012db2;
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex: 0 0 auto;
}

.content {
  grid-area: content;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-self {
  margin: auto;
}

button.primary {
  color: #fff;
  background: #012db2;
  height: 64px;
  width: 160px;
  border-radius: 6px;
  cursor: pointer;
}

input.large {
  width: 160px;
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 8px;
  font-size: 20px;
}

.card {
  width: 80%;
  background: white;
  margin-bottom: 16px;
  box-shadow: 0px 0px 20px -5px #ccc;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 4px 15px 0px #ccc;
}

.card__title {
  padding: 16px;
}

.card__content {
  background: #eee;
  padding: 16px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4em;
}

.card .spinner {
  margin: 16px auto;
  width: 3em;
  height: 3em;
}

.error {
  color: red;
  font-weight: 600;
  text-transform: uppercase;
}

.connected {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  color: green;
}

.disconnected {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8em;
  color: red;
}
